<div class="container">
    <div class="row">
        <div class="col-12">
            <form>
                <div class="form-group">
                    <label for="nombre">Nombre:</label>
                    <input type="text" class="form-control" placeholder="Pepita">
                    <small id="emailHelp" class="form-text text-muted">Nunca compartiremos tu usuario con nadie</small>

                    <br>

                    <label for="asunto">Asunto: </label>
                    <input type="text" class="form-control" placeholder="Dadme galletas">

                    <br>

                    <label for="mensaje">Mensaje: </label>
                    <textarea name="mensaje" id="mensaje" cols="50" rows="20" class="form-control"></textarea>
                </div>
            </form>
        </div>
    </div>
</div>